body {
  background-image: url(images/background.gif);
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
  font-size: 70px;
  border-style: solid;
  border-radius: 30px;
  border-width: 10px;
  font-family: 'Press Start 2P';
}

h2 {
  font-size: 36px;
  text-decoration: underline;
  font-family: 'Press Start 2P';
}

#navBar {
  width: 100%;
  list-style: none;
}

#navBar li {
  float: left;
  margin-right: 45px;
}

#navBar li a {
  text-decoration: none;
  font-size: 20px;
  color: white;
  font-family: 'Press Start 2P';
  border-style: solid;
  border-radius: 30px;
  border-width: 5px;
  padding: 10px;
}

#navBar li a:hover {
  background-color: rgba(0, 0, 0, 0.5);
  transition: 0.3s;
}

#homePageTables{
  width: 100%; 
  padding: 40px;
}

#homePageTables tr td{
  text-align: center;
}

#homePageTables tr td p{
  background-color: rgb(185, 226, 250);
  padding: 30px;
  border-style: solid;
  border-width: 5px;
  font-family: 'Kdam Thmor Pro', sans-serif;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 1px;
}

#roughSketchTable{
  width: 100%; 
  padding: 40px;
}

#roughSketchTable tr td{
  text-align: center;
  padding: 40px;
}

#roughSketchTable tr td p{
  background-color: rgb(185, 226, 250);
  padding: 30px;
  border-style: solid;
  border-width: 5px;
  font-family: 'Kdam Thmor Pro', sans-serif;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 1px;
}

#roughSketchTable tr td img{
  width:800px;
  height:400px;
  border-style: solid; 
  border-width:5px;
}

#codeSnippetsTables{
  width: 100%; 
  padding: 40px;
}

#codeSnippetsTables tr td{
  text-align: center;
  padding: 20px;
}

#codeSnippetsTables tr td p{
  background-color: rgb(185, 226, 250);
  padding: 30px;
  border-style: solid;
  border-width: 5px;
  font-family: 'Kdam Thmor Pro', sans-serif;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 1px;
}

#codeHyperlink {
  font-family: "Arial";
  font-weight: bold;
  font-size: 30px;
  border-style: solid;
  border-width: 5px;
  cursor: pointer;
  color: red;
  padding: 30px;
  text-decoration: none;
}

#codeHyperlink:hover {
  background-color:rgba(0, 0, 0, 0.2);
  font-size: 40px;
}

#helpPage {
  width: 100%; 
  padding: 40px;
}

#helpPage tr td{
  text-align: center;
  padding: 20px;
}

#helpPage tr td p{
  background-color: rgb(185, 226, 250);
  padding: 30px;
  border-style: solid;
  border-width: 5px;
  font-family: 'Kdam Thmor Pro', sans-serif;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 1px;
}
